.theme-dark {
    --page-background-color: #17181E;
    --card-background-color: #1F2027;
    --button-background-color: #50a3de;
    --header-background-color: #1F2027;
    --input-background-color: #1F2027;

    --default-color: #eeeeee;
    --muted-color: #aeb3ba;
    --muted-light-color: #888c91;
    --accent-color: #3ebcec;
}
