.theme-light {
    --page-background-color: #f5f6f9;
    --card-background-color: #ffffff;
    --button-background-color: #3ebcec;
    --header-background-color: #ffffff;
    --input-background-color: #ffffff;

    --default-color: #000000;
    --muted-color: #9198a4;
    --muted-light-color: #b6bdc8;
    --accent-color: #3ebcec;
}
